<div id="rootdiv">

    <container-component>
        <!--<login-component></login-component> -->
        <signup-component></signup-component>
    </container-component>




    <!---- 
        <output>from root component html</output>

        <container-component> 
        <header-component></header-component>
    </container-component>

    <container-component>  
        <main-component> </main-component>
    </container-component>

    <container-component>  
        <footer-component></footer-component>
    </container-component> -->
</div>